 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1"> {% endcomment %}
    
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     {% comment %} <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjj5OT0bp2DdeZ0r59OBcduelJWX-SAA0&libraries=places&callback=initMap&solution_channel=GMP_QB_addressselection_v1_cABC" async defer></script> {% endcomment %}

    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% load static %}
    <link rel="stylesheet" href="{ % static 'login/style.css'%}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="">





 
      {% block head %}
      <title>base</title>
    
      {% endblock %}
      
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-57L9LCVXMV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-57L9LCVXMV');
</script>
<body>



                <nav class="navbar sticky-top navbar-expand-lg navbar-light " style="background-color:#92074c">
                        <a class="navbar-brand text-white" style="color:FF0000" href="{ % url 'shopp:product_list'  %}"><h6><b>Lipa Faster</b></h6></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          
                              <li class="nav-item active mr-auto">
                                        <a class="nav-link text-white" href="{ % url  'Profile:about' %}"></a>
                                  </li>

                                <li class="nav-item active mr-auto">
                                        <a class="nav-link text-white" href="{ % url  'home:map' %}"></a>
                                  </li>
                          </ul>

                                      <!-- Example single small button -->
                               
            
            </div>
          </li>
              
              
<br>



                                <form   class="form-inline my-2 my-lg-0" action='{ % url 'shopp:product_list' %}'>
                                
                                   
                                        <input  type="search" class="form-control outline-info btn-sm mr-sm-2"  placeholder="Search" name='q'>
                                     {% csrf_token %}      
                                        <button class="btn btn-light btn-sm btn my-2 my-sm-0" type="submit">Go</button>
                                      </form>
                                
                        </div>
                      </nav>  
       
    {% block body%}
    <h1>Base</h1>
    {% endblock %}





    <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    



    

</body>
</html>